{% extends "base.html" %}

{% block media %}
    <style>
        .centered-form {
            width: 62.5%;
            margin: 50px auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: none;
        }
        .centered-form h2 {
            margin-bottom: 20px;
            font-size: 24px;
        }
        .form-area {
            width: 45%;
            margin: 0 auto;
            border: none;
            background: none;
        }
        .form-area .password-rule {
            border-radius: 8px;
            border: 1px solid #5C95D9;
            text-align: left;
            margin-bottom: 10px;
            cursor: pointer;
            /* margin-left: 10px; */
        }
        .form-area .password-rule p {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            padding-left: 10px;
            color: #5C95D9;
            margin: 0;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .form-area .password-rule p:hover {
            color: #5C95D9;
        }
        .form-area .password-rule ul {
            margin-block-start: 5px;
            margin-block-end: 5px;
            padding-inline-start: 20px;
            display: none;
            list-style: circle;
            margin-bottom: 10px;
        }
        .form-area .password-rule ul li {
            font-size: 14px;
            margin-top: 5px;
        }
        .centered-form .form-area .django-as-table {
            width: 100%;
        }
        .centered-form .form-area .django-as-table tr th {
            display: none;
        }
        .centered-form .form-area .django-as-table tr td input {
            width: 100%;
            height: 48px;
            margin-bottom: 10px;
            border-radius: 8px;
            border: 1px solid #ddd;
            font-size: 16px;
        }
        .centered-form .form-area .django-as-table tr td input[name="old_password"] {
        }
        .centered-form .form-area .django-as-table tr td input[name="new_password1"] {
        }
        .centered-form .form-area .django-as-table tr td input[name="new_password2"] {
        }
        .centered-form .form-area .django-as-table .helptext {
        }
        .centered-form .form-area .django-as-table .helptext ul {
            padding-inline-start: 10px;
            border: 1px solid #ddd;
            list-style: circle;
            display: none;
        }
        .centered-form .form-area .submit-bar {
            width: 100%;
            background: none;
            background-color: #5C95D9;
            border-radius: 8px;
            border: 1px solid #5C95D9;
            height: 40px;
            font-size: 14px;
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block js_media %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var oldPasswordInput = document.querySelector('input[name="old_password"]');
            var newPassword1Input = document.querySelector('input[name="new_password1"]');
            var newPassword2Input = document.querySelector('input[name="new_password2"]');

            if (oldPasswordInput) {
                oldPasswordInput.placeholder = "{{ _('기존 비밀번호') }}";
            }
            if (newPassword1Input) {
                newPassword1Input.placeholder = "{{ _('새 비밀번호') }}";
            }
            if (newPassword2Input) {
                newPassword2Input.placeholder = "{{ _('새 비밀번호 다시 입력') }}";
            }

            var passwordRule = document.querySelector('.password-rule');
            var passwordRuleList = passwordRule.querySelector('ul');

            passwordRule.addEventListener('click', function() {
                if (passwordRuleList.style.display === "none" || passwordRuleList.style.display === "") {
                    passwordRuleList.style.display = "block";
                } else {
                    passwordRuleList.style.display = "none";
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="centered-form">
        <h2>비밀번호 변경</h2>
        <form action="" method="post" class="form-area">
            {% if request.session.password_pwned %}
                <h4>{{ (_('We found your password in [a database of compromised passwords][0].') + '\n\n  [0]: https://haveibeenpwned.com/Passwords')|markdown('default', strip_paragraphs=True) }}
                    {{ _('To protect your account, we are requiring you to change your password to a more secure password.') }}</h4>
            {% endif %}
            {% csrf_token %}
            <table border="0" class="django-as-table">{{ form.as_table() }}</table>
            <div class="password-rule">
                <p>비밀번호 생성 규칙</p>
                <ul>
                    <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                    <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                    <li>너무 흔한 비밀번호는 비밀번호로 사용할 수 없습니다.</li>
                    <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
                </ul>
            </div>
            <button class="submit-bar" type="submit">{{ _('Change Password') }}</button>
        </form>
    </div>
{% endblock %}
