{% extends "base.html" %}

{% block media %}
<style>
    #content {
        margin: 50px auto 0;
        width: 62.5%;
    }
    .modifyPassword 
    {
        /* modifyPassword */
        max-width: 100%;
        margin: 50px auto;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 20px;
        text-align: center;
    }

    .modifyPassword h2
    {
        /* 비밀번호 초기화 */
        font-size: 26px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .modify-area
    {
        /* Rectangle 173 */

        box-sizing: border-box;

        position: absolute;
        width: 200%;
        top: 38.49%;
        bottom: 57.22%;
        margin:  20px auto;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 8px;

    }

    /* .modifyPassword .email-input-group {
        position: relative;
    }

    .modifyPassword .email-input-group input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        margin: 0;
    }  */

    .email-input-group {
        width: 100%;
        max-width: 100%;
    }

    .form-area input[type="email"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100% !important;
        height: 48px;
        box-sizing: border-box;
    }

    .form-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: none;
        gap: 20px;
        width: 45%;
        margin: 0 auto;
    }

    .form-area button[type="submit"],
    .form-area button,
    .form-area .button {
        background: none;
        background-color: #5C95D9;
        display: block;
        border-radius: 8px;
        border: 1px solid #5C95D9;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        line-height: 1.5;
        height: 40px;
        box-sizing: border-box;
        width: 100%;
    }
    .form-area a.button {
        display: block; /* 인라인 요소를 블록 요소로 변경 */
        text-align: center;
        padding: 10px; /* 버튼과 동일한 패딩 적용 */
        font-size: 14px;
        color: #5C95D9 !important;
        background: none;
        background-color: white;
        border: 1px solid #5C95D9;
        border-radius: 8px;
        height: 40px;
        box-sizing: border-box;
        line-height: 1.5; /* 텍스트가 버튼의 중앙에 위치하도록 설정 */
        cursor: pointer;
        text-decoration: none; /* 기본 링크 스타일 제거 */
    }

    .form-area button:hover,
    .form-area a.button:hover {
        background-color: #9FCDF2;
    }

    /* .form-area input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
    
    } */

    .Copyright {
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
        background-color: #FFFFFF;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: #8391A1;
  }
</style>
{% endblock %}


{% block body %}

    <div class="modifyPassword">
        <h2>비밀번호 초기화</h2>
        <form action="" method="post" class="form-area">{% csrf_token %}
            <!-- <table border="0">{{ form.email }}</table> -->
            <div class="email-input-group">
                {{ form.email }}
            </div>
            <button type="submit">{{ _('비밀번호 발송하기') }}</button>
            <a href="{{ url('auth_login') }}" class="button">{{ _('로그인 페이지로 돌아가기') }}</a>
        </form>
    </div>
    <div class="Copyright">
        이용약관 | 개인정보처리방침<br>
        Copyright @ JBNU and ALPS All rights reserved.
    </div>
{% endblock %}