<!-- 유저 마이페이지의 기본 html -->
<!-- 해당 페이지는 style 정의가 먹지 않아서, style.css에 모든 css 부분을 정의함 -->

{% extends "base.html" %}

{% block media %}
    {% block user_media %}{% endblock %}
    <style>
        .user-content-area .user-content {
            width: 62.5%;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% block user_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <style>
        #content {
            margin: 50px auto 0;
            width: 62.5%;
        }
        .user-info-page {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .user-sidebar-area {
            width: 100%;
            background-color: white !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user-sidebar {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding-bottom: 30px;
            /* width: 150px;
            padding-left: 15px; */
        }
        img.user-gravatar {
            display: block;
            border-radius: 50%;
            border: 3px solid #ccc;
            width: 20%;
            height: auto;
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .user-content-area {
            width: 100%;
            background-color: #F9FAFB;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .user-content {
            flex: 1 1;
            overflow: hidden;
            word-wrap: break-word;
        }
        .user-info-text {
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            justify-content: center;
            margin-left: 30px;
        }
        .user-info-text .num-style {
            font-size: 22px;
            color: #5C95D9;
        }
        .user-info-text .semibold {
            font-size: 15px;
            color: #8391A1;
        }
        .user-info-text .button-sub {
            background-color: #EBEFF3;
            color: #5C95D9;
            border-radius: 10px;
            font-size: 13px;
            width: 100px;
            /* height: 35px; */
            text-align: center;
            line-height: 2.8;
            margin-top: 5px;
        }
        .user-info-text-1 {
            display: flex;
            flex-direction: column;
        }
        .user-info-text-1 h3 {
            font-size: 20px;
            font-weight: bold;
        }
        .user-info-text-1 p {
            font-size: 15px;
            color: #8391A1;
            margin-top: 3px;
        }
        .user-info-text-2 {
            display: flex;
            flex-direction: row;
            gap: 4vw;
        }
    </style>
    <div class="user-info-page">
        <div class="user-sidebar-area">
            <div class="user-sidebar">
                <img src="{{ gravatar(user, 135) }}" class="user-gravatar">
                <br>
                <div class="user-info-text">
                    <div class="user-info-text-1">
                        <h3>{{ user.username }}</h3>
                        <p>전북대학교 컴퓨터인공지능학부</p>
                    </div>
                    <div class="user-info-text-2">
                        <div>
                            <span class="num-style">
                                {%- trans trimmed counter=user.problem_count %}
                                    {{ counter }}
                                {% pluralize %}
                                    {{ counter }}
                                {% endtrans -%}
                            </span>
                            <span class="semibold">문제해결</span>
                        </div>
                        <div>
                            <span class="num-style" title="{{ user.performance_points|floatformat(2) }}">
                                {{ user.performance_points|floatformat(0) }}
                            </span>
                            <b class="semibold">{{ _('포인트') }}</b>
                        </div>
                        {% if not user.is_unlisted %}
                            <div><span class="num-style">#{{ rank }}</span><b class="semibold">{{ _('등') }}</b></div>
                        {% endif %}
                        
                    </div><br>
                    <a href="{{ url('all_user_submissions', user.user.username) }}" class="button-sub">{{ _('제출 보기') }}</a>
                </div>
                <br>
    
                {% if ratings %}
                    <br>
                    <div><b>
                        {%- trans trimmed counter=ratings|length %}
                            {{ counter }} contest written
                        {% pluralize %}
                            {{ counter }} contests written
                        {% endtrans -%}
                    </b></div>
                    {% if not user.is_unlisted %}
                        <div><b class="semibold">{{ _('Rank by rating:') }}</b> #{{ rating_rank }}</div>
                    {% endif %}
                    <div><b class="semibold">{{ _('Rating:') }}</b> {{ rating_number(rating) }}</div>
                    <div><b class="semibold">{{ _('Min. rating:') }}</b> {{ rating_number(min_rating) }}</div>
                    <div><b class="semibold">{{ _('Max rating:') }}</b> {{ rating_number(max_rating) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="user-content-area">
            <div class="user-content">{% block user_content %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}
