# file
<desired bridge log path>
.browserlistrc
.cl.settings.py
.flake8
.gitmodules
502.html
codecov.yml
dmoj_bridge_async.py
dmoj_celery.py
dmoj_install_pymysql.py
make_style.sh
rebuild.sh
robots.txt
uwsgi.ini

# directory
__pycache__/
django_ace/
websocket/
dmoj/__pycache__/
judge/__pycache__/
tmp/texoid_cache/b9f2fb9d06444f058d44d3a693fe7ae197cd684c/